 <!-- ======= Features Section ======= -->
 <section id="features" class="features">
    <div class="container">
    <h2 style="color: black; font-size: 35px; text-align: center;">Votre compte bancaire gratuit, sécurisé et accessible 24h/24</h2>
    <br><br>
      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1">
          <div class="icon-box mt-5 mt-lg-0">
            <i class="bx bx-receipt"></i>
            <h4>Des notifications push en temps réel</h4>
            <p>Suivez l'activité de votre compte bancaire en direct. Recevez des notifications push en temps réel à chaque transaction : paiement par carte ou mobile, retrait, virement, et plus encore. Votre solde est instantanément actualisé.</p>
          </div>
          <div class="icon-box mt-5">
            <i class="bx bx-cube-alt"></i>
            <h4>Des paramètres personnalisables</h4>
            <p>Avec BFI Bank, vous choisissez votre code PIN, mais aussi vos plafonds de paiement, et vous pouvez facilement verrouiller/déverrouiller votre carte virtuelle ou activer/désactiver les paiements en ligne.</p>
          </div>
          <div class="icon-box mt-5">
            <i class="bx bx-images"></i>
            <h4>Double authentification et sécurité</h4>
            <p>Pour plus de sécurité, BFI Bank demande une double authentification, et tous vos achats en ligne sont automatiquement protégés par le processus Mastercard sécurisé.</p>
          </div>
          <div class="icon-box mt-5">
            <i class="bx bx-shield"></i>
            <h4>Protection</h4>
            <p>BFI Bank possède une licence bancaire et respecte les directives africaine. Cela implique que nous assurons la confidentialité de vos données.</p>
          </div>
        </div>
        <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("assets/img/pho.jpg");'></div>
      </div>

    </div>
  </section><!-- End Features Section -->