 <!-- ======= Faq Section ======= -->
 <section id="faq" class="faq">
    <div class="container-fluid">

      <div class="row">

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

          <div class="content">
            <h3 style="color: #d3bf4f;"> <strong>Faites un saut dans le futur </strong></h3>
            <h3 style="color: #d3bf4f;"> <strong> avec BFI bank</strong></h3>
            <br>
            <h3>Découvrez une expérience </h3>
            <h3> bancaire premium, avec une </h3>
            <h3>élégante carte en métal et des </h3>
            <h3> exclusifs.</h3>
            <br>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <h4><a href="#" class="btn-soon">À venir</a></h4>
            </div>
          </div>


        </div>
        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/card.jpg");'>&nbsp;</div>
        <p></p>
      </div>

    </div>
  </section><!-- End Faq Section -->