<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <h2 style="font-size: 35px;">Contact</h2>
    </div>
  </div>
  <div class="container">

    <div class="row mt-5 justify-content-center text-center">

      <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
        <div class="info">
          <div class="address">
            <br>
            <br>
            <i class="ri-map-pin-line"></i>
            
            <h4>Localisation:</h4>
            <p>Immeuble BFI, Rue du Lac de Constance, Les Berges du Lac, 1053 Tunis, Tunisie</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
        <div class="info">
          <div class="email">
            <i class="ri-mail-line"></i>
            <h4>Email:</h4>
            
            <p>contact&#64;bfigroupe.com</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
        <div class="info">
          <div class="phone">
            <i class="ri-phone-line"></i>
            <h4>Télèphone:</h4>
            <p>+216 71 962 030</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Contact Section -->
<section id="next" class="next">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-9 text-center">
              <h1 style="color: wheat; font-size: 35px; "><strong>BFI Bank assistance</strong></h1>
              <br><br>
              <h1 style="color: rgb(230, 168, 89); font-size: 30ox;">Nous avons les réponses à toutes vos questions!</h1>
              <br>
              <div class="text-center mt-4">
                <a href="nous-contacter" class="contact-btn align-middle"><strong>Nous Contactez</strong></a>
              </div>
          </div>
      </div>
  </div>
</section>
