 <!-- ======= Counts Section ======= -->
 <section id="counts" class="counts">
    <div class="container">

      <div class="text-center title">
        <h1 style="font-size: 40px;">Une carte virtuelle Mastercard pour tous vos paiements</h1>
        <br>
        <p style="font-size: 17px; color: wheat;">Le compte bancaire gratuit est associé à une carte virtuelle Mastercard, disponible dès l’ouverture de votre compte. Réglez tous vos achats grâce aux paiements mobiles avec Google Pay ou Apple Pay en magasin, en ligne ou dans vos applications.</p>
      </div>

    </div>
  </section><!-- End Counts Section -->