<div class="felicitation-container">
    <img src="assets/img/logo-félicitation1.PNG" alt="Félicitations" class="felicitation-image">
    <div class="felicitation-message">
      <h1 style="font-size: 50PX;"><b>Félicitations!</b></h1>
      <p>Votre demande d'ouverture de compte BFI BANK est enregistrée avec succès.</p>
      <br>
      <h1 style="color: #582900;"><b>Plus besoin de vous déplacer en agence pour signer votre contrat et valider l'ouverture de votre compte, tout se fait 100% en ligne.</b></h1>
      <ul>
        <li> Confirmation de vos données de contact</li>
        <li> Prise de rendez-vous pour un entretien Visio avec un conseiller Webank pour obtenir votre certificat de signature électronique</li>
        <li> Signature de votre contrat BFI BANK en se connectant à votre espace client</li>
      </ul>
      <a  routerLink="/signature" class="finalize-button" >Je finalise mon ouverture de compte</a>
    </div>
  </div>
  
