
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container">
  
          <div class="row no-gutters clients-wrap clearfix wow fadeInUp">
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/img/clients/APECCAM.png" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/img/clients/Banque Centrale de Madagascar.jpg" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/img/clients/La Banque Agricole1.png" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/img/clients/R.png" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/img/clients/client-7.png" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/img/clients/client-8.png" class="img-fluid" alt="">
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Clients Section -->