<header id="header" class="fixed-top" [class.header-scrolled]="headerScrolled">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
          <img class="logo me-auto me-lg-10" src="assets/img/bfi-bank-high-resolution-logo-white-transparent.png" alt="KnightOne Logo" />
          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
              <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
              <li><a class="nav-link scrollto active" href="#about">A propos</a></li>
              <li><a class="nav-link scrollto active" href="#features">We Initiate</a></li>
              <li><a class="nav-link scrollto active" href="#faq">Soon</a></li>
              <li><a class="nav-link scrollto active" href="#contact">Contact</a></li>

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
          <a routerLink="/login" class="get-compte-btn scrollto"><strong>mon compte</strong></a>

          <a routerLink="/ouvrir-compte" class="get-started-btn scrollto"><strong>ouvrir un compte</strong></a>
          
          <img class="logoo" src="assets/img/logo_bfi.jpg" alt="logoo" />

          

        </div>
      </div>
    </div>
  </header>
  