<nav class="navv">
    <div class="navbarr">
      <div class="logo">
        <img src="/pic/logo.jpg" alt="Logo">
        <h1>Jobs</h1>
      </div>
      <ul>
        <li><a routerLink="/mon-compte">
          <i class="fas fa-user"></i>
          <span class="nav-item">Dashboard</span>
        </a></li>
        <li><a routerLink="/edit-profile">
          <i class="fas fa-chart-bar"></i>
          <span class="nav-item">edit profile</span>
        </a></li>
        <li><a routerLink="/">
          <i class="fas fa-tasks"></i>
          <span class="nav-item">Jobs Board</span>
        </a></li>
        <li><a routerLink="/">
          <i class="fab fa-dochub"></i>
          <span class="nav-item">Documents</span>
        </a></li>
        <li><a routerLink="/">
          <i class="fas fa-cog"></i>
          <span class="nav-item">Settings</span>
        </a></li>
        <li><a routerLink="/">
          <i class="fas fa-question-circle"></i>
          <span class="nav-item">Help</span>
        </a></li>
      </ul>
    </div>
    <div class="logout">
      <a routerLink="/">
        <i class="fas fa-sign-out-alt"></i>
        <span class="nav-item">Logout</span>
      </a>
    </div>
</nav>
