.navv {
    position: sticky;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background: #02193a;
    padding: 20px 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 5px #02193a;
}

.navbarr {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.custom-file-upload {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.profile-photo {
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    border-radius: 100%;
    object-fit: cover;
    border: 3px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.upload-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
}

input[type="file"] {
    display: none;
}


ul {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

li {
    width: 100%;
    margin-bottom: 1.5rem;
}

li a {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 8px;
    width: 100%;
    transition: background 0.3s, color 0.3s;
}

li a:hover {
    background: black;
    color: #ffffff;
}

li a i {
    font-size: 22px;
    margin-right: 15px;
}

.nav-item {
    font-size: 16px;
}

.logout {
    width: 100%;
    text-align: center;
}

.logout a {
    background: #e93c3c;
    color: #fff;
    padding: 12px 25px;
    text-align: center;
    border-radius: 8px;
    transition: background 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout a i {
    margin-right: 10px;
}

.logout a:hover {
    background: #e73333;
    color: #ffffff;
}
