<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2 style="font-size: 35px;">À propos</h2>
        
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <h1 style="font-size: 32px;">
            Simplifiez vous la vie!
             <br>devenez We
          </h1>
          <h2 style="color: black; font-size: 25px;">
           <br> We Initiate
           <br>L’offre 100% gratuite
          </h2>
          <hr>
          <ul>
            <li><i class="ri-check-double-line"></i> Un compte de dépôt inclus, avec une carte Mastercard Nationale.</li>
            <li><i class="ri-check-double-line"></i> Personnalisez le visuel de votre carte selon votre choix.</li>
            <li><i class="ri-check-double-line"></i> Gérez votre compte et votre carte en ligne 24h/24 et 7j/7.</li>
            <li><i class="ri-check-double-line"></i> Profitez de zéro frais sur tous les virements émis en ligne.</li>
            <li><i class="ri-check-double-line"></i> Aucun frais supplémentaire sur les virements reçus.</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <h1 style="color: black; font-size: 40px;">
            BFI bank ,  Une seule offre 
          </h1>
          <h1 style="color: black; font-size: 40px;">
             mais la meilleure pour vous!
          </h1>
         
          <a href="#" class="btn-learn-more">En savoir plus</a>
          <br>
          <br>
          

        </div> 
        
        
      </div>

    </div>
  </section><!-- End About Us Section -->
