<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
      <h3>BFI Bank</h3>
      <div class="social-links">
        <a href="https://twitter.com" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://facebook.com" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://instagram.com" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://skype.com" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="https://linkedin.com" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>BFI Bank</span></strong> {{ currentYear }}. All Rights Reserved
      </div>
     
    </div>
  </footer><!-- End Footer -->
